<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/pttk.css}" rel="stylesheet"/>
    <script src="/js/jquery.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <script src="/js/homeDish.js" type="text/javascript"></script>
    <style>
        input.star {
            display: none;
        }

        label.star {
            float: right;
            padding: 10px;
            font-size: 90px;
            color: #444;
            transition: all .2s;
        }

        input.star:checked ~ label.star:before {
            content: '\f005';
            color: #FD4;
            transition: all .25s;
        }

        input.star-5:checked ~ label.star:before {
            color: #FE7;
            text-shadow: 10px 40px 90px #952;
        }

        input.star-1:checked ~ label.star:before {
            color: #F62;
        }

        label.star:hover {
            transform: rotate(-15deg) scale(1.3);
        }

        label.star:before {
            content: '\f006';
            font-family: FontAwesome;
        }

        #tks img {
            float: right;
            width: 600px;
            height: 400px;
        }

        .stars {
            float: left;
            margin-left: 100px;
        }

        #danhgia {
            margin-left: 0px;
            margin-top: 80px;
        }
    </style>
</head>
<body>
<div class="container-fluid" style="margin-bottom:50px">
    <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-3" style="background-color: bisque">
            <div class="abc">
                <img src="/pictures2/logo2.png" style="width: 280px;height: 120px;">
            </div>
        </div>
        <div class="col-md-5 col-sm-5 col-xs-5" style="background-color: bisque">
            <div id ="timkiem">
                <ul>
                    <li><a th:href="@{/home}" title="HOME"><strong>Trang chủ</strong></a></li>
                    <li><a th:href="@{/home/client/sign-in}" title="ORDER"><strong>Đặt món</strong></a></li>
                    <li><a href="#" title="EVALUATE"><strong>Đánh giá</strong></a></li>
                    <li><a href="#" title="Voucher"><strong>Voucher</strong></a></li>
                    <li><a th:href="@{/home/client/sign-up}" title="SIGN-UP"><strong>Đăng kí</strong></a></li>
                    <li><a th:href="@{/home/client/login}" title="LOG-IN"><strong>Đăng nhập</strong></a></li>
                    <li><a href="#" title="CONTACTS"><strong>Liên hệ</strong></a></li>
                    <input type="text" name="text" id="text" value="" />
                </ul>
                <div class="box">
                    <input type="text" placeholder="Search here">
                    <a><i class="fas fa-search-location"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4" style="background-color: bisque ; color: khaki;">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="/pictures/KFC-50-50_HeroBannerV3.jpg" alt="Chania" style="width: 450px;height: 120px;">
                    </div>
                    <div class="item">
                        <img src="/pictures2/slider.jpg" alt="Chania" style="width: 450px;height: 120px;">
                    </div>
                    <div class="item">
                        <img src="/pictures2/maxresdefault.jpg" alt="Chania" style="width: 450px;height: 120px;">
                    </div>
                </div>

            </div>
        </div></div>
</div>

<div class="container-fluid" style="margin-bottom:50px">
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6">
<h2 style="color: firebrick;"><strong>Mục đánh giá của khách hàng!!!</strong></h2>
<div class="stars">
    <form action="">
        <input class="star star-5" id="star-5" type="radio" name="star"/>
        <label class="star star-5" for="star-5"></label>
        <input class="star star-4" id="star-4" type="radio" name="star"/>
        <label class="star star-4" for="star-4"></label>
        <input class="star star-3" id="star-3" type="radio" name="star"/>
        <label class="star star-3" for="star-3"></label>
        <input class="star star-2" id="star-2" type="radio" name="star"/>
        <label class="star star-2" for="star-2"></label>
        <input class="star star-1" id="star-1" type="radio" name="star"/>
        <label class="star star-1" for="star-1"></label>
    </form>
</div>
<form id="danhgia" th:action="@{/home/cart/{id}/vote/save(id=${cart.id})}" th:object="${cart}" method="get">
    <div hidden>
        <td><input type="hidden" th:field="*{id}" readonly></td>

        <div class="from-group">
            <label class="control-label" for="date" style="margin-right: 68px ; color: darkblue">Ngày
                mua</label>
            <input type="text" class="form-control" id="date" th:field="*{dateCreated}" readonly>
        </div>
        </br>

        <div class="from-group">
            <label class="control-label" for="name"
                   style="margin-right: 98px;color: darkblue">Tên</label>
            <input type="text" class="form-control" id="name" th:field="*{nameClientCreated}" readonly>
        </div>
        </br>

        <div class="from-group">
            <label class="control-label" for="phone" style="margin-right: 58px;color: darkblue">Số điện
                thoại</label>
            <input type="text" class="form-control" id="phone" th:field="*{numberContactClientCreated}"
                   readonly>
        </div>
        </br>
        <div class="from-group">
            <label class="control-label" for="addr" style="margin-right: 86px;color: darkblue">Địa
                chỉ</label>
            <input type="text" class="form-control" id="addr" th:field="*{addressClientCreated}"
                   readonly>
        </div>
        <div class="from-group">
            <label class="control-label" for="addr" style="margin-right: 86px;color: darkblue">Trạng thái</label>
            <input type="text" class="form-control" th:field="*{status}"
                   readonly>
        </div>
    </div>

    <textarea cols="75" rows="8" style="background-color: beige" placeholder="Điền phản hồi của quí khách..." th:field="*{reviewCustomer}"></textarea>
    </br>
    <br><input type="submit" class="btn btn-info" value="Gửi" style="width: 100px ;height: 40px">
</form>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-6">
        <div id="tks">
            <img src="https://anhdepfree.com/wp-content/uploads/2019/08/anh-cam-on-3d.jpg">
        </div>
        </br></br></br></br>
        </div></div></div>


<div id="footer" style="background-color:aquamarine;height: 70px;">
    <div id="footer1" style="width: 50% ; float: left">
        <ul class="breadcrumb" style="background-color: aquamarine">
            <li><a href="#"><h2>*Giới thiệu</h2></a></li>
            <li><a href="#">Hệ thông cửa hàng</a></li>
            <li><a href="#">Khuyến mại</a></li>
            <li><a href="#">Tuyển dụng</a></li>
            <li><a href="#">liên hệ</a></li>
        </ul>
    </div>
    <div id="footer2" style="width: 50% ; float: left">
        <a href="https://www.facebook.com"><img src="/pictures2/face.png" style="width: 40px; height: 40px"></a>
        <a href="https://twitter.com"><img src="/pictures2/tw.jpg" style="width: 40px; height: 40px"></a>
        <a href="https://chat.zalo.me"><img src="/pictures2/za.webp" style="width: 40px; height: 40px"></a>
        <a href="https://www.youtube.com"><img src="/pictures2/you.png" style="width: 40px; height: 40px"></a>
        <a href="https://www.google.com"><img src="/pictures2/gg.png" style="width: 40px; height: 40px"></a>
        <a href="https://www.google.com/maps"><img src="/pictures2/ggm.png" style="width: 40px; height: 40px"></a>
    </div>
</div>


</body>
</html>